<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
                                                  <!--ng-init: inititlizes app data-->
<div ng-app ng-init="firstnum=1;secondnum=2">     <!--ng-app: inside this div there will be an Angular app-->
  <input type="number" min="0" ng-model="firstnum"> <!--ng-model defines new variables  -->
    plus
  <input type="number" min="0" ng-model="secondnum">
    equals
  <b>{{firstnum + secondnum}}</b>
</div>

</div>

<div class="row marketing">
  <h4>This is Main View</h4>


</div>
